<div class="container content-width centered-hor">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <div class="social-links" id="social-media-links">
    <ul>
      <li><a href="https://twitter.com/viperdev_io" target="_blank" class="twitter-grey"></a></li>
      <li><a href="https://www.linkedin.com/company/viperdev/" target="_blank" class="linkedin-grey"></a></li>
      <li><a href="mailto:info@viperdev.io" target="_blank" class="envelope-grey"></a></li>
      <li><a href="/feed.xml" target="_blank" class="rss-grey" title="zum Newsletter anmelden"></a></li>
    </ul>
  </div>
    <div class="footer">
    <div class="footer-column">
      {% if site.active_lang == "en" %}
      <div class="title">Company</div>
      <a href="/about">About</a>
      <a href="/products">Products</a>
      <a href="/jobs">Jobs</a>
      <a href="/blog">Blog</a>
      <a href="/press">Press</a>
      {% endif %}
      {% if site.active_lang == "de" %}
      <div class="title">Unternehmen</div>
      <a href="/about">Über uns</a>
      <a href="/products">Produkte</a>
      <a href="/jobs">Jobs</a>
      <a href="/blog">Blog</a>
      <a href="/press">Presse</a>
      {% endif %}
    </div>
    <div class="footer-column">
      {% if site.active_lang == "en" %}
      <div class="title">Contact</div>
      <a href="mailto:info@viperdev.io">Mail us</a>
      {% endif %}
      {% if site.active_lang == "de" %}
      <div class="title">Kontakt</div>
      <a href="mailto:info@viperdev.io">Schick uns eine E-Mail</a>
      {% endif %}
    </div>
    <div class="footer-column">
      {% if site.active_lang == "en" %}
      <div class="title">Legal</div>
      <a href="/imprint">Imprint</a>
      <a href="/disclaimer">Disclaimer</a>
      <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
      <a href="/terms">Terms and Conditions</a>
      {% endif %}
      {% if site.active_lang == "de" %}
      <div class="title">Rechtliches</div>
      <a href="/imprint">Impressum</a>
      <a href="/disclaimer">Haftungsausschluss</a>
      <a href="/datenschutzerklaerung">Datenschutzerklärung</a>
      <a href="/terms">Allgemeine Geschäftsbedingungen</a>
      {% endif %}
    </div>
  </div>
  <div class="copyright">
    <i class="fa fa-copyright"></i> {{ site.time | date: '%Y' }} - Viper Development UG (limited liability) | all rights reserved
  </div>
</div>
