<nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" class="brand-logo hide-on-med-and-down" href="{{ "/" | relative_url }}">
        <img class="logo" src="/assets/img/favicon.svg" alt="favicon">
      </a>
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

          <ul class="right valign-wrapper">
            <li>
              <a href="/startproject" class="btn-large">
                {% if site.active_lang == "de" %}
                  Projekt Starten
                {% else %}
                  Start Project
                {% endif %}
              </a>
            </li>
          </ul>

          <ul class="right hide-on-med-and-down valign-wrapper">
            {% if page_paths %}
                {% for path in page_paths %}
                    {% assign my_page = site.pages | where: "path", path | first %}
                    {% if my_page.title %}
                    <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% for tongue in site.languages %}
              {% if site.active_lang != tongue %}
                <li>
                  <a style="display:flex" href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">
                    <img class="img-flags" src="/assets/img/flags/{% if tongue == site.default_lang %}germany{% else %}united-kingdom{% endif %}.svg"/>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>

          <ul id="nav-mobile" class="side-nav">
            {% if page_paths %}
              {% for path in page_paths %}
                  {% assign my_page = site.pages | where: "path", path | first %}
                  {% if my_page.title %}
                  <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
                  {% endif %}
              {% endfor %}
            {% endif %}
            {% for tongue in site.languages %}
              {% if site.active_lang != tongue %}
                <li>
                  <a href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">
                    <img class="img-flags" src="/assets/img/flags/{% if tongue == site.default_lang %}germany{% else %}united-kingdom{% endif %}.svg"/>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>


      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
