<div class="valign-wrapper">
  {% for product in site.data.products_de %}
  <div class="columns{% if product.highlight %} columns-highlight{% endif %}">
    <ul class="price{% if product.highlight %} highlight{% endif %}">
      <li class="header">
        <h4>{{product.name}}</h4>
      </li>
      <li class="grey" style="padding:7.63px">{{product.price}}</li>
      {% for desc in product.shortdesc %}
      <li>{{desc}}</li>
      {% endfor %}
      <li>{{product.timeline}}</li>
      <li class="grey"><a href="/startproject" class="btn-large">Jetzt Starten</a></li>
    </ul>
  </div>
  {% endfor %}
</div>
